# dependencies
node_modules/

# production
dist/
build/

# environment variables
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# cache
.cache/
.parcel-cache/

# editor
.vscode/

# system
.DS_Store